@charset "UTF-8";
/* Home */
#masthead {
  width: 100%;
  height: 430px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("../images/desk_1.jpg");
  background-size: cover; }

#masthead h1 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 0.7; }

.quienesSomos {
  margin: 70px 5%; }

.quienesSomos h2 {
  padding-bottom: 20px; }

/* Quienes somos Grid Mobile */
div.quienesSomos__Grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "photo1" "description1" "photo2" "description2";
  grid-gap: 20px; }

.quienesSomos__Photo1 {
  grid-area: photo1;
  width: 100%;
  height: auto;
  transition: transform 0.7s; }

.quienesSomos__Photo2 {
  grid-area: photo2;
  width: 100%;
  height: auto;
  transition: transform 0.7s; }

.quienesSomos__Photo1:hover, .quienesSomos__Photo2:hover {
  transform: scale(0.95); }

.quienesSomos__Description1 {
  grid-area: description1;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #686D76;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 0 15px; }

.quienesSomos__Description2 {
  grid-area: description2;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #686D76;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
  padding: 0 15px; }

.areasDePractica {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #6d7ada;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5; }
  .areasDePractica h2 {
    text-align: center;
    color: #fff;
    margin: 0 0 40px; }
  .areasDePractica .areasDePracticaContainer {
    display: grid;
    grid-template-areas: "checkItem1" "checkItem2" "checkItem3" "checkItem4" "checkItem5" "checkItem6";
    /* mobile small screens only */
    justify-items: stretch;
    width: 80%;
    margin: 0 auto; }
    .areasDePractica .areasDePracticaContainer .checkItem1 {
      grid-area: checkItem1; }
    .areasDePractica .areasDePracticaContainer .checkItem2 {
      grid-area: checkItem2; }
    .areasDePractica .areasDePracticaContainer .checkItem3 {
      grid-area: checkItem3; }
    .areasDePractica .areasDePracticaContainer .checkItem4 {
      grid-area: checkItem4; }
    .areasDePractica .areasDePracticaContainer .checkItem5 {
      grid-area: checkItem5; }
    .areasDePractica .areasDePracticaContainer .checkItem6 {
      grid-area: checkItem6; }
    .areasDePractica .areasDePracticaContainer .checkItem1, .areasDePractica .areasDePracticaContainer .checkItem2, .areasDePractica .areasDePracticaContainer .checkItem3, .areasDePractica .areasDePracticaContainer .checkItem4, .areasDePractica .areasDePracticaContainer .checkItem5, .areasDePractica .areasDePracticaContainer .checkItem6 {
      margin: 0 0 30px; }
      .areasDePractica .areasDePracticaContainer .checkItem1 img, .areasDePractica .areasDePracticaContainer .checkItem2 img, .areasDePractica .areasDePracticaContainer .checkItem3 img, .areasDePractica .areasDePracticaContainer .checkItem4 img, .areasDePractica .areasDePracticaContainer .checkItem5 img, .areasDePractica .areasDePracticaContainer .checkItem6 img {
        width: 15px;
        height: auto;
        display: inline;
        margin: 0 10px 0 0; }
      .areasDePractica .areasDePracticaContainer .checkItem1 p, .areasDePractica .areasDePracticaContainer .checkItem2 p, .areasDePractica .areasDePracticaContainer .checkItem3 p, .areasDePractica .areasDePracticaContainer .checkItem4 p, .areasDePractica .areasDePracticaContainer .checkItem5 p, .areasDePractica .areasDePracticaContainer .checkItem6 p {
        display: inline;
        margin: 0; }

/* Mobile horizontal screens */
@media only screen and (min-width: 480px) {
  .areasDePractica .areasDePracticaContainer {
    display: grid;
    grid-template-areas: "checkItem1 checkItem4" "checkItem2 checkItem5" "checkItem3 checkItem6";
    justify-items: stretch;
    width: 80%;
    margin: 0 auto; } }

/* Mid-width Desktop for Home */
@media only screen and (min-width: 768px) {
  /* Áreas de Práctica Desktop */
  .areasDePractica .areasDePracticaContainer {
    display: grid;
    grid-template-areas: "checkItem1 checkItem3 checkItem5" "checkItem2 checkItem4 checkItem6";
    justify-items: center;
    width: 80%;
    margin: 0 auto; } }

/* Styles for Webinars */
section.webinars {
  margin: 70px 30px 30px;
  height: auto; }
  section.webinars h2 {
    text-align: center; }

div.containerWebinars {
  display: block;
  padding: 40px 5%; }

div.webinar {
  width: 100%;
  margin: 0 0 40px;
  box-shadow: 0 4px 8px 0 #686D76;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #686D76;
  height: auto;
  display: grid;
  /* Mobile only */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "webinarRow1_1 webinarRow1_2 webinarRow1_3" "webinarRow2_1 webinarRow2_2 webinarRow2_3"  "webinarConsultar webinarConsultar webinarConsultar";
  gap: 10px; }

.webinarRow1_1 {
  grid-area: webinarRow1_1;
  font-weight: bold; }

.webinarRow1_2 {
  grid-area: webinarRow1_2;
  font-weight: bold; }

.webinarRow1_3 {
  grid-area: webinarRow1_3;
  font-weight: bold; }

.webinarRow2_1 {
  grid-area: webinarRow2_1; }

.webinarRow2_2 {
  grid-area: webinarRow2_2; }

.webinarRow2_3 {
  grid-area: webinarRow2_3; }

.webinarConsultar {
  grid-area: webinarConsultar;
  align-self: center;
  justify-self: center; }

.webinarConsultar button {
  border-radius: 20px;
  padding: 10px 15px;
  border: 0;
  outline: none;
  background-color: #686D76;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2em; }

.webinarConsultar button:hover {
  background-color: #6d7ada;
  box-shadow: 0 4px 8px 0 #686D76; }

.webinarConsultar button:focus {
  box-shadow: 0 4px 8px 0 #333; }

.agotado {
  color: red;
  font-weight: bold; }

.disponible {
  color: green;
  font-weight: bold; }

/*Carousel styles */
.myCarousel {
  max-width: 80% !important;
  margin: 0 auto; }

/*Carousel indicators - dots */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%; }

/* Styles for Novedades */
section.novedades {
  width: 80%;
  margin: 0 auto; }
  section.novedades h1 {
    margin: 30px; }

.novedades__flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start; }
  .novedades__flexContainer article {
    flex: 1 0 100%;
    height: auto;
    margin: 0 0 40px;
    /* mobile only */
    box-shadow: 0 4px 8px 0 #686D76;
    border-radius: 3px;
    padding: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    color: #686D76;
    font-size: 0.8rem; }
    .novedades__flexContainer article:hover {
      box-shadow: 0 4px 10px 0 #333; }
    .novedades__flexContainer article .novedades__verMas a {
      display: block;
      text-align: center;
      font-weight: 700;
      color: #6d7ada;
      font-size: 0.9rem;
      text-decoration: none;
      margin-top: 10px;
      transition: transform 0.5s; }
      .novedades__flexContainer article .novedades__verMas a:hover {
        transform: scale(1.2); }
    .novedades__flexContainer article img {
      width: 100%;
      height: auto;
      margin-bottom: 15px; }

/* Images for articles */
.novedades__image-1 {
  background: center/cover no-repeat url(../images/novedades_img-1.jpg);
  width: 100%;
  height: 200px;
  margin: 0 0 15px; }

.novedades__image-2 {
  background: center/cover no-repeat url(../images/novedades_img-2.jpg);
  width: 100%;
  height: 200px;
  margin: 0 0 15px; }

.novedades__image-3 {
  background: center/cover no-repeat url(../images/novedades_img-3.jpg);
  width: 100%;
  height: 200px;
  margin: 0 0 15px; }

.novedades__image-4 {
  background: center/cover no-repeat url(../images/novedades_img-4.jpg);
  width: 100%;
  height: 200px;
  margin: 0 0 15px; }

.novedades__image-5 {
  background: center/cover no-repeat url(../images/novedades_img-5.jpg);
  width: 100%;
  height: 200px;
  margin: 0 0 15px; }

/* Styles for FAQs */
#mastheadFAQ {
  width: 100%;
  height: 430px;
  background-image: url("../images/questions_1.jpg");
  background-size: cover;
  background-position: center center; }

section.FAQs h2 {
  margin: 70px 30px 30px;
  text-align: center; }

section.FAQs p {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  color: #686D76;
  font-size: 1rem;
  margin: 0 50px 10px; }

/* @import "_contacto"; */
html {
  scroll-behavior: smooth; }

/************** General for mobile ******************/
nav {
  width: 100%; }
  nav a {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #686D76;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem; }
    nav a:hover, nav a:active, nav a.active {
      color: #373a40;
      text-shadow: 1px 1px 1px #686D76;
      text-decoration: none; }
  nav li {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #afafaf;
    /* mobile only! */
    padding: 15px 0;
    /* mobile only! */ }
  nav ul {
    margin: 0; }
    nav ul ul {
      /* Nav Bar Sub Menu */
      position: absolute;
      display: none; }
      nav ul ul li {
        position: relative;
        display: block;
        padding: 15px;
        background-color: #fff;
        border-bottom: 1px solid #f3f3f3;
        z-index: 200; }
    nav ul li:hover ul {
      display: block;
      right: 5%; }

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin: 0; }

body {
  background-color: #f3f3f3; }

#container {
  width: 90vw;
  background-color: #fff;
  margin: 0 auto;
  height: 100%; }

.container-fluid {
  max-width: 90vw; }

.logo {
  text-align: center;
  margin: 0 0 20px;
  transition: transform 0.4s; }
  .logo img {
    width: 60px; }
  .logo:hover {
    transform: scale(0.9); }

.logo__text {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #6d7ada; }
  .logo__text a {
    color: #6d7ada;
    text-decoration: none; }

h1 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #6d7ada; }

header {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  flex-flow: column wrap;
  /*mobile only!*/
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* bottom shadow */
  -webkit-box-shadow: 0 8px 6px -6px #686D76;
  -moz-box-shadow: 0 8px 6px -6px #686D76;
  box-shadow: 0 8px 6px -6px #686D76; }

h2 {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #6d7ada; }

footer {
  background-color: #333;
  margin-top: 80px;
  height: auto; }
  footer div.footerFlexContainer {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    /* mobile only */
    align-items: flex-start; }
    footer div.footerFlexContainer .siteMap {
      flex: 1 0 250px; }
      footer div.footerFlexContainer .siteMap li {
        list-style: none; }
      footer div.footerFlexContainer .siteMap a {
        font-family: 'Montserrat', Arial, sans-serif;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.7rem; }
        footer div.footerFlexContainer .siteMap a:hover, footer div.footerFlexContainer .siteMap a:active, footer div.footerFlexContainer .siteMap a.active {
          color: #fff;
          text-decoration: underline; }
    footer div.footerFlexContainer .footerHeadline {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: 600;
      color: #fff;
      font-size: 1.1rem;
      line-height: 2rem;
      margin: 30px 0 0 0;
      /* mobile only */ }
    footer div.footerFlexContainer .footerEmail a {
      text-decoration: none;
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: 400;
      color: #fff;
      font-size: 0.8rem; }
      footer div.footerFlexContainer .footerEmail a:hover, footer div.footerFlexContainer .footerEmail a:active, footer div.footerFlexContainer .footerEmail a.active {
        color: #fff;
        text-decoration: underline; }
    footer div.footerFlexContainer .footerSocials {
      margin: 40px 0 0 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      transition: transform 0.2s; }
      footer div.footerFlexContainer .footerSocials:hover {
        transform: scale(1.05); }
      footer div.footerFlexContainer .footerSocials img {
        width: 25px;
        height: auto;
        margin: 0 10px 0 0; }
      footer div.footerFlexContainer .footerSocials a {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 600;
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        text-align: center; }
  footer .footerCopyright {
    width: 100%;
    height: auto;
    padding: 30px 20px 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 0.7rem;
    text-align: center; }

/************** Desktop Only General ***************/
@media only screen and (min-width: 768px) {
  /* Nav Bar */
  nav {
    flex: 0 1 480px; }
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
  nav li {
    height: auto;
    margin: 0;
    padding: 0;
    border: 0; }
  /*sub menu in desktop only */
  nav ul li:hover ul {
    display: block;
    right: auto; }
  .logo {
    margin: 0; }
  header {
    width: 100%;
    padding: 10px 30px 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 30; }
  /* Footer Desktop */
  div.footerFlexContainer {
    flex-flow: row wrap; }
    div.footerFlexContainer p.footerHeadline {
      margin: 0; }
  /* Quienes somos Grid Desktop */
  div.quienesSomos__Grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "photo1 description1 description1" "description2 description2 photo2";
    justify-items: stretch;
    align-items: center;
    grid-gap: 30px 20px; }
  .quienesSomos__Photo1 {
    grid-area: photo1;
    width: 100%;
    min-width: 200px; }
  .quienesSomos__Photo2 {
    grid-area: photo2;
    width: 100%;
    min-width: 200px; }
  .quienesSomos__Description1 {
    grid-area: description1;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #686D76;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0; }
  .quienesSomos__Description2 {
    grid-area: description2;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #686D76;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    padding: 0; }
  /* Novedades Flex Desktop */
  .novedades article {
    flex: 0 1 45%; }
  /* Novedades images height for desktop*/
  .novedades__image-1 {
    height: 150px; }
  .novedades__image-2 {
    height: 150px; }
  .novedades__image-3 {
    height: 150px; }
  .novedades__image-4 {
    height: 150px; }
  .novedades__image-5 {
    height: 150px; }
  /* Webinars Grid Desktop */
  div.webinar {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "webinarRow1_1 webinarRow1_2 webinarRow1_3 webinarConsultar" "webinarRow2_1 webinarRow2_2 webinarRow2_3 webinarConsultar"; } }

/************** Desktop Only Novedades ***************/
@media only screen and (min-width: 1024px) {
  /* Novedades Flex Desktop */
  .novedades__flexContainer {
    justify-content: space-between; }
  .novedades article {
    flex: 0 1 30%; }
  /* flex last child align left fix */
  .novedades__flexContainer::after {
    height: 0;
    width: 30%;
    content: ""; } }
