/* Styles for Contacto */
.containerContacto {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Montserrat', Arial, sans-serif;
    color: $color_373a40;
    font-size: 0.9rem;
    line-height: 1.5rem;
    .sidenote {
        display: block;
        color: $color_686D76;
        font-size: 0.8rem;
        padding: 0 0 20px;
    }
}

/* buttons style */

input[type="submit"] {
    background-color: $color_brand;
    width: 170px;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    font-size: 0.9rem;
    margin: 0 0 20px;
    &:hover {
        background-color: #8191C9;
        color: #fff;
    }
    
}
input[type="reset"] {
    background-color: $color_373a40;
    width: 170px;
    margin: 0 20px 20px 0; //mobile only!
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    font-size: 0.9rem;
    &:hover {
        background-color: $color_686D76;
        color: #fff;
    }
    
}
