/* Styles for FAQs */
#mastheadFAQ {
    @include sizes(100%,430px);
    background-image: url('../images/questions_1.jpg');
    background-size: cover;
    background-position: center center;
}
.FAQs {
        h2 {
            margin: 0px 30px 30px;
            text-align: center;
            
        }
        p {
            font-family: 'Montserrat', Arial, sans-serif;
            font-weight: 500;
            color: $color_686D76;
            font-size: 1rem;
            margin: 0 50px 10px;
        }
}
