/* Styles for FAQs */
#mastheadFAQ {
    @include sizes(100%,430px);
    background-image: url('../images/questions_1.jpg');
    background-size: cover;
    background-position: center center;
}
.FAQs {
        h2 {
            margin: 0px 30px 30px;
            text-align: center;
            
        }
        .card {
            
            margin: 0; //mobile only!
        }
        .card-header {
            background-color: $color_ebebeb;

            button {
                font-family: 'Montserrat', Arial, sans-serif;
                font-weight: normal;
                color: $color_373a40;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;
                box-shadow: none;
            }
        }
        .card-body {
            font-family: 'Montserrat', Arial, sans-serif;
            font-weight: normal;
            color: $color_686D76;
            font-size: 0.9rem;
        }
    /* Caret animation */
    .btn-link:before {
        font-family: 'FontAwesome';/* essential to enable caret symbol*/
        content: "\f0d7";/* adjust as needed, taken from font-awesome.css */
        color: $color_373a40;
      }
    .btn-link.collapsed:before {
        /* symbol for "collapsed" panels */
        content: "\f0da";  /* adjust as needed, taken from font-awesome.css */
      }
        
}
