/* Home */
#masthead {
    @include sizes(100%,430px);
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('../images/desk_1.jpg');
    background-size: cover;
    
}
#masthead h1 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 3rem;
}
.quienesSomos {
    margin: -30px 5% 0px;
    padding: 100px 0 0 0;
}
.quienesSomos h2 {
    padding-bottom: 20px;
    
}
/* Quienes somos Grid Mobile */
div.quienesSomos__Grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
                    "photo1"
                    "description1"
                    "photo2"
                    "description2";
    grid-gap: 20px;
}
.quienesSomos__Photo1 {
    grid-area: photo1;
    @include sizes(100%,auto);
    transition: transform 0.7s;
}
.quienesSomos__Photo2 {
    grid-area: photo2;
    @include sizes(100%,auto);
    transition: transform 0.7s;
}
.quienesSomos__Photo1:hover, .quienesSomos__Photo2:hover {
    transform: scale(0.95);
}
.quienesSomos__Description1 {
    grid-area: description1;
    font-family: 'Montserrat', Arial, sans-serif;
    color: $color_686D76;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    padding: 0 15px;
}
.quienesSomos__Description2 {
    grid-area: description2;
    font-family: 'Montserrat', Arial, sans-serif;
    color: $color_686D76;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
    padding: 0 15px;
}
/* Fix for ScrollSpy Padding */
#areasDePractica, #webinars, #FAQs {
    padding: 100px 0 0 0;
    margin: -30px 0 0 0;
}
.areasDePractica {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: $color_brand;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    h2 {
        text-align: center;
        color: #fff;
        margin: 0 0 40px;
    }
    .areasDePracticaContainer {
        display: grid;
        grid-template-areas: 
            "checkItem1"
            "checkItem2"
            "checkItem3"
            "checkItem4"
            "checkItem5"
            "checkItem6"; /* mobile small screens only */
        justify-items: stretch;
        width: 80%;
        margin: 0 auto;
        .checkItem1 {
            grid-area: checkItem1;
            
        }
        .checkItem2 {
            grid-area: checkItem2;
            
        }
        .checkItem3 {
            grid-area: checkItem3;
           
        }
        .checkItem4 {
            grid-area: checkItem4;
            
        }
        .checkItem5 {
            grid-area: checkItem5;
            
        }
        .checkItem6 {
            grid-area: checkItem6;
           
        }
        .checkItem1, .checkItem2, .checkItem3, .checkItem4, .checkItem5, .checkItem6 {
            margin: 0 0 30px;
            img {
                width: 15px;
                height: auto;
                display: inline;
                margin: 0 10px 0 0;
            }
            p {
                display: inline;
                margin: 0;
            }
        }
    }
}
/* Mobile horizontal screens */
@media only screen and (min-width: 480px){
    .areasDePractica {
        .areasDePracticaContainer {
            display: grid;
            grid-template-areas:
                "checkItem1 checkItem4"
                "checkItem2 checkItem5"
                "checkItem3 checkItem6";
            justify-items: stretch;
            width: 80%;
            margin: 0 auto;
        }
    }    
}
/* Mid-width Desktop for Home */
@media only screen and (min-width: 768px){

    /* Áreas de Práctica Desktop */
    .areasDePractica {
        .areasDePracticaContainer {
            display: grid;
            grid-template-areas:
                "checkItem1 checkItem3 checkItem5"
                "checkItem2 checkItem4 checkItem6";
            justify-items: center;
            width: 80%;
            margin: 0 auto;
        }
    }

}    

