/* Styles for Novedades */
section.novedades {
    width: 80%;
    margin: 0 auto;
    h1 {
        margin: 30px;
    }
    
}

.novedades__flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    article {
        flex: 1 0 100%;
        height: auto;
        margin: 0 0 40px; /* mobile only */
        box-shadow: 0 4px 8px 0 $color_686D76;
        border-radius: 5px;
        padding: 15px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 500;
        color: $color_686D76;
        font-size: 0.8rem;

        &:hover {
            box-shadow: 0 4px 10px 0 $color_373a40;
        }
        
        .novedades__verMas a {
            display: block;
            text-align: center;
            font-weight: 700;
            color: $color_brand;
            font-size: 0.9rem;
            text-decoration: none;
            margin-top: 10px;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.2);
            }
        }
        img {
            @include sizes(100%,auto);
            margin-bottom: 15px;
        }
    }
}
/* Articles Modal Styles */
.modalText {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
    color: $color_373a40;
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 20px 10px;
}
.modalClose {
    a {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: bold;
        color: $color_686D76;
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;
    }
}
