/* Styles for Webinars */

.webinars {
    margin: 0 30px 30px;
    height: auto;
    h2 {
        text-align: center;
    }
}
div.containerWebinars {
    display: block; //mobile only!
    padding: 20px 0;  //mobile only!
}
div.webinar {
    width: 100%;
    margin: 0 0 30px;
    background-color: $color_aqua;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    height: auto;
    display: grid;
    /* Mobile only */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "webinarFechaHeadline webinarFechaContent"
        "webinarTemasHeadline webinarTemasContent" 
        "webinarVacantesHeadline webinarVacantesContent"
        "webinarConsultar webinarConsultar";
    gap: 15px;
}
.webinarFechaHeadline {
    grid-area: webinarFechaHeadline;
    font-weight: bold;
    
}
.webinarTemasHeadline {
    grid-area: webinarTemasHeadline;
    font-weight: bold;
    
}
.webinarVacantesHeadline {
    grid-area: webinarVacantesHeadline;
    font-weight: bold;
    
}
.webinarFechaContent {
    grid-area: webinarFechaContent;
}
.webinarTemasContent {
    grid-area: webinarTemasContent;
}
.webinarVacantesContent {
    grid-area: webinarVacantesContent;
}
.webinarConsultar {
    grid-area: webinarConsultar;
    align-self: center;
    justify-self: center;
}
.webinarConsultar button {
    border-radius: 20px;
    padding: 10px 15px;
    border: 0;
    outline: none;
    background-color: #fff;
    color: $color_373a40;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2em;
}
.webinarConsultar button:hover {
    background-color: $color_ebebeb;
}

.agotado {
    color: $color_ebebeb;
    font-weight: bold;
    
}
.disponible {
    color: #fff;
    font-weight: bold;
}
/*Carousel styles */
.myCarousel {
    max-width: 80% !important;
    margin: 0 auto;
}
/*Carousel indicators - dots */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
